<div class="col-md-9" style="margin-bottom: 40px; color: silver; font-style: italic">
    <h2>Life is all about - </h2>
    <h2 style="padding-left: 5em">going after something meaningful  ...</h2>

    <h2 style="padding-left: 12em">.</h2>
    <h2 style="padding-left: 12em">.</h2>

    <h2 style="padding-left: 10em">Offload the meaningless works</h2>


</div>