<div class="col-md-9" style="margin-bottom: 40px; color: silver; font-style: italic" ng-controller="DocumentsController">
    <h2>Your documents</h2>

    <div ng-repeat="doc in documents">
        {{doc}}
        <object width="500" height="400" ng-attr-data="{{doc}}"/>
    </div>

</div>

