<div class="col-md-9" style="margin-bottom: 40px; color: silver;">
    <div style="margin-left: 320px">
        You may invite only two of your dearest friends at this moment :-)
    </div>
    <p></p>
    <form class="form-horizontal" action="/register" method="post">
        <div class="form-group" style="border: 2px double lightgray; border-radius: 10px; margin-left: 320px">

            <div>
                <table calss="table" cellpadding="4px">
                    <thead>
                        <tr>
                            <th>#</th><th width="250px">Name</th><th width="250px">E-mail</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <input type="text" class="form-control" id="inputName" name="name" placeholder="Firstname   Lastname" style="border: 0px" required>
                            </td>
                            <td>
                                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="em@a.il" style="border: 0px" required>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <input type="text" class="form-control" id="inputName" name="name" placeholder="Firstname   Lastname" style="border: 0px" required>
                            </td>
                            <td>
                                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="em@a.il" style="border: 0px" required>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-xs-offset-3 col-xs-7">
                <button type="submit" class="btn btn-primary">Invite your dear friends</button>
            </div>

        </div>

    </form>
</div>
