<div class="col-md-9" style="margin-bottom: 40px; color: silver; font-style: italic">
    <h2>Steal a slice of time ...</h2>
    <h2 style="padding-left: 5em">enjoy finer moments in life</h2>


</div>