<div class="col-md-9" style="margin-bottom: 40px; color: red; font-style: italic;" ng-controller="TestController">
    <h2>Login failed</h2>
    <h2 style="padding-left: 5em">Try again ... hard :) </h2>


</div>