<div class="col-md-11" style="margin-bottom: 40px; margin-top: 10px; margin-left: 100px; color: green; font-size: 20px; font-family:corporate">
    <div>
        <span class="glyphicon glyphicon-signal"></span> Thanks. At this moment the registration is mostly invitation based. But there is a high chance that we will be able to accommodate you. Please check your email.
    </div>
</div>