<div class="col-md-9" style="margin-bottom: 40px; color: silver;">
    <form class="form-horizontal" action="/register" method="post">
        <div class="form-group" style="border: 2px double lightgray; border-radius: 10px; margin-left: 320px">
            <label for="inputName" class="control-label col-xs-3">Name</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="inputName" name="name" placeholder="Firstname   Lastname" style="border: 0px" required>
            </div>
            <label for="inputUser" class="control-label col-xs-3">Username</label>
            <div class="col-xs-9">
                <input type="text" class="form-control" id="inputUser" name="username" placeholder="username" style="border: 0px" required>
            </div>
        <!--</div>
        <div class="form-group"> -->
            <label for="inputPassword" class="control-label col-xs-3">Password</label>
            <div class="col-xs-9">
                <input type="password" class="form-control" id="inputPassword" name="password" placeholder="P@s$w0rd" style="border: 0px" required>
            </div>
        <!-- </div>
        <div class="form-group"> -->
            <label for="inputEmail" class="control-label col-xs-3">Email</label>
            <div class="col-xs-9">
                <input type="email" class="form-control" id="inputEmail" name="email" placeholder="em@il.xyz" style="border: 0px" required>
            </div>
        <!-- </div>

        <div class="form-group"> -->
            <div class="col-xs-offset-3 col-xs-7">
                <button type="submit" class="btn btn-primary">Request Registration</button>
            </div>

        </div>

    </form>
</div>
